:root {
  --main-color: #f18f1b;
  --theme-color: white;
  --input-field: #f3c79e;
  --place-holder-color: #eaba82;
  --line-color: #f3c79e;

  --subtitle: #ccb079;

  --select-hover: #f8e9d9;

  --border-line-title: #ffefdd;
  --skeleton-color: #ffebdf;

  /*! Search Color */
  --border-color: #e3712d;
  --search-bg-color: #fff3e5;
  --search-font-color: #e99461;
  --ic-down-color: #f38543;
  --html-bg-color: #faf5f4;

  /*! Card Color  */
  --month-gender: #c7c7c7;
  --breed-color: #bbbbbb;
  --status-already: #fd6e6e;
  --status-not-yet: #42d463;

  /*! PostDetail Color */
  --time-color: #a3a3a3;

  /*! Color icon field  */
  --icon-field-color: #ffc786;

  /*! Menu icon color  */
  --menu-icon-color: #5e5e5e;
  --top-line-menu: #e9e9e9;
  --menu-text-color: #868686;
}

html {
  background-color: var(--html-bg-color);
}
