* {
  margin: 0;
  padding: 0;
  font-family: 'SFCompactRounded';
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 10px auto;
}
img.Loading {
  width: 40%;
  height: 40%;
}
